*.o
*.lo
.la
##
.*.rej
.rej
.~
~
.#
.DS_Store
thumbs.db
Thumbs.db
*.bak
*.class
*.exe
*.dll
*.mine
*.obj
*.ncb
*.lib
*.log
*.LOG
*.idb
*.pdb
*.ilk
.msi
.res
*.pch
*.suo
*.exp
~.
cvs
CVS
.CVS
.cvs
[Rr]elease
[Dd]ebug
[Ii]gnore
[Bb]in
[Oo]bj
*.csproj.user
*.user
_ReSharper.*
*.resharper.user
*.pyc
/.svn
_NCrunch*
*.swp
